<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patient Update</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
</head>
<body>
<h1 class="text-sm-center">Patient Update</h1>
<div class="container">
    <form class="form-control" method="post" action="/patientTemplate/update/{patient.id}">
        <div class="row" style="margin-bottom: 20px;">
            <label class="col-md-2 col-form-label" for="fn">First Name: </label>
            <input name="fn" class="form-control col" id="fn" value="{patient.firstName}"> <br>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <label class="col-md-2 col-form-label" for="ln">Last Name: </label>
            <input name="ln" class="form-control col" id="ln" value="{patient.lastName}"><br>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <label class="col-md-2 col-form-label" for="height">Height: </label>
            <input name="height" class="form-control col" id="height" value="{patient.height}"><br>
        </div>
        <div class="row">
            <label class="col-md-2 col-form-label" for="weight">Weight: </label>
            <input class="form-control col" name="weight" id="weight" value="{patient.weight}">
        </div>
        <br>
        <input type="submit" class="btn-dark btn">
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
</body>
</html>