<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Condition</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
</head>
<body>
    <h1 class="text-sm-center">Select Condition</h1>
    <div class="container">
        <form id="form" method="get" action="/conditionTemplate/">
            <div>
                <select name="condition" id="condition" class="lstSelected">
                    {#for condition in conditions}
                        <option value="{condition.condition.id}">{condition.condition.name} {condition.amount}</option>
                    {/for}
                </select>
                <input type="submit" value="submit">
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
</body>
</html>
