<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital-Management</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-sm">
            <h3 class="text-center">Overview</h3>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-sm">
            <a class="btn btn-primary m-1 col-md-12" href="/patientTemplate">Show Patients</a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm">
            <a class="btn btn-primary m-1 col-md-12" href="/patientTemplate/detailAdd">Add Patient</a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm">
            <a class="btn btn-success m-1 col-md-12" href="/conditionTemplate">Show Conditions</a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-sm">
            <a class="btn btn-success m-1 col-md-12" href="/conditionTemplate/detailAdd">Add Condition</a>
        </div>
    </div>
</div>
</body>
</html>